OSGeo.MapGuide.MaestroAPI/Schemas/RepositoryContent-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="RepositoryContent" type="RepositoryContentType">
    <xs:annotation>
      <xs:documentation>Repository Content</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RepositoryContentType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Optional description of the repository</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
