OSGeo.MapGuide.MaestroAPI/Schemas/ResourceFolderHeader-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="ResourceSecurity-1.0.0.xsd"/>
  <xs:element name="ResourceFolderHeader" type="ResourceFolderHeaderType">
    <xs:annotation>
      <xs:documentation>Resource Folder Header</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ResourceFolderHeaderType">
    <xs:sequence>
      <xs:element name="Security" type="ResourceSecurityType"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
