OSGeo.MapGuide.MaestroAPI/Schemas/SymbolLibrary-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="SymbolLibrary" type="SymbolLibraryType"/>
  <xs:complexType name="SymbolLibraryType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" minOccurs="0"/>
      <xs:element name="Symbol" type="SymbolType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SymbolType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Resource" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
